@import "tailwindcss";

@theme {
  --color-button: #eb0237;
  --color-button-pressed: #a01131;
  --color-button-disabled: #701328;
  --color-success: #43ad28;
  --color-warning: #eb0237;
  --color-info: #eb6402;
  --color-card: #0B0E12;
}

:root {
  --background: #090909;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
